@font-face {
    font-family: 'HalantBold';
    src: url('../assets/Halant/Halant-Bold.ttf');
}
@font-face {
    font-family: 'HalantLight';
    src: url('../assets/Halant/Halant-Light.ttf');
}
@font-face {
    font-family: 'HalantMedium';
    src: url('../assets/Halant/Halant-Medium.ttf');
}
@font-face {
    font-family: 'HalantRegular';
    src: url('../assets/Halant/Halant-Regular.ttf');
}
@font-face {
    font-family: 'HalantSemiBold';
    src: url('../assets/Halant/Halant-Semibold.ttf');
}

@font-face {
    font-family: 'MontserratLight';
    src: url('../assets/Montserrat/static/Montserrat-Light.ttf');
}

.gridAbout{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    padding-top: 20px;
    /* text-align: center; */
}

.gridAbout p{
    font-size: 17px;
    color: white;
}
.gridAbout #grid1 #aboutTitle{
    font-size: 40px;

}
.gridAbout #grid1 img{
    /* margin-left: 90px; */
    margin-top: 30px;
}
.gridAbout #grid1{
    text-align: center;
}
.gridAbout #grid2{
    margin-left: auto;
    margin-right: 20px;
    
}
.gridAbout #grid2 p{
    background-color: #323232;
    text-align: end;
    color: white;
    width: auto;
    line-height: 1.1cm;
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
    /* border-radius: 20px; */
    padding-right: 20px;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.61);

}

.gridAbout #grid2 p::first-letter{
    font-size: 60px;
}

.aboutSlide{
    background-color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.aboutSlide p{
    /* padding: 50px; */
    text-align: justify;
}
