@font-face {
    font-family: 'HalantRegular';
    src: url('../assets/Halant/Halant-Regular.ttf');
}



.titleTravel p {
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
    justify-content: center;
    color: white;
    font-family: 'HalantSemiBold';
}

.titleTravel hr{
    margin-bottom: 20px;
}
.travelGrid{
    height: 400px;
    display: grid;   
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 0px;
    margin-top: 20px;
}

.travelGrid .grid1{
    display: flex;
    text-align: center;
    background-color: #323232;
    /* background: url('../assets/rose_img.JPG'); */
    background-position: top;
    /* height: 360px; */
    justify-content: center;
    align-items: center;
    background-size: cover;
    /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  /* z-index: 0; */
    /* afin d'utiliser cela il faut utilisr display flex */
}
.travelGrid .grid2{
    background-color: #3b3737;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.travelGrid .grid2 .imgSlider{
    width: 300px;

}
.travelGrid .grid1 p {
    font-size: 30px;
    line-height: 1.3cm;
    color: white;
}

.travelGrid .grid1 .testText{
    /* content: ""; */
    color: #e1e1e1;
    position: absolute;
    background-color: #323232;
    overflow: hidden;
    border-right: 3px solid;
    /* white-space: nowrap; */

    animation: typing 2s steps(22), blink .5s step-end infinite;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.travelGrid .grid1 {
    display: grid;
    /* grid-template-columns: repeat(1fr); */
    row-gap: 0px;
}

.slideSwiper .container {
    background-color: #3b3737;
}

#classTypeWriter{
    display: block;
}